/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#notice {
  color: green;
}

h1 {
  margin: 0 0 10px;
}

#error_explanation {
  border: 2px solid red;
  background-color: #f0f0f0;
  margin-bottom: 20px;
}

fieldset {
  background: #48af4a;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

label {
  display: block;
}

p {
  margin-top: 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 10%;
  margin: 0 2%;
  border-top: 1px solid;
}